<div class="footer">     
    <section class="footer2">
      <div class="starsDos"></div>
      <div class="divLogo">
         <a href="/"><img src="/img/logoultimo.png" alt="Logo Spartan Games" class="logoSpartanGames"></img></a>
      </div>
      <div class="linksFooter1">
         <a href="empleos">   EMPLEOS   </a>
         <a href="información">   INFORMACIÓN   </a>
         <a href="asistencia">   ASISTENCIA   </a>
         <a href="contacto">   CONTACTO   </a>
         <a href="prensa">   PRENSA   </a>
      </div>
         <p class="derechosReservados">©2021 SPARTAN GAMES, INC. TODOS LOS DERECHOS RESERVADOS.</p>
         <p class="derechosReservados">Todas las marcas comerciales a las que se hace referencia son propiedad de sus respectivos dueños.</p>
      <div class="linksFooter2">
         <a href="privacidad">   PRIVACIDAD   </a>
         <a href="legal">   LEGAL   </a>
         <a href="términos">   TÉRMINOS   </a>
         <a href="cookie_policy">   COOKIE POLICY</a>
       </div>    
    </section>
    <br>
</div>