<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Detalle de Producto</title>
    <link rel="stylesheet" href="/css/stylesDetalleDeProducto.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>

  <body>
    <header>
        <section>
            <div>
                LOGO
            </div>
            <div>
                JUEGOS
            </div>
            <div>
                SERVICIOS
            </div>
            <div>
                GEAR
            </div>
                <form class="barra">
                    <input type="search" name="barraDeBusqueda" placeholder="Search"></input type="submit" value="buscar">
                    <button class="form-control fa fa-search" aria-hidden="true"></button>
                </form>
            <div>
                INGRESAR
            </div>
            <div>
                REGISTRO
            </div>
        </section>
    </header>
    <main>
        <section class="SlideShowBox">
            <div class="LogoPrecio">
                <button>
                    <a href="../views/carrito.html"><img src="" alt="precioProducto"></a>
                </button>
            </div>
        </section>
        <section class="DescripcionDelProducto">
            <!-- Caja de texto con descripcion del producto -->
        </section>
        <section class="Botones">
            <div class="Wishlist">
                <button>
                    <a href="../views/index.html"><i class="far fa-heart"></i><p>Wishlist</p></a>
                </button>
            </div>
            <div class="AlCarrito">
                <button>
                    <a href="../views/carrito.html"><i class="fas fa-shopping-cart"></i><p>Al Carrito</p></a>
                </button>
            </div>
            <div class="Comprar">
                <button>
                    <a href="../views/carrito.html"><p>Comprar</p></a>
                </button>
            </div>
        </section>
        <section class="ProductosRelacionados">
            <div class="ProductosRelacionados Titulo">
                <h2>Productos Relacionados</h2>
            </div>
            <div class="ProductosRelacionados Imagenes">
                <div class="ProductosRelacionados Imagenes A">
                    <a href="../views/index.html"><img src="" alt="ImagenProductoA"></a>
                </div>
                <div class="ProductosRelacionados Imagenes B">
                    <a href="../views/index.html"><img src="" alt="ImagenProductoB"></a>
                </div>
                <div class="ProductosRelacionados Imagenes C">
                    <a href="../views/index.html"><img src="" alt="ImagenProductoC"></a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <hr>
        <br>
        <br>
        <h1>FOOTER</h1>
        <br>
        <br>
        <hr>
    </footer>
  </body>

</html>
