<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Detalle de Producto</title>
    <link rel="stylesheet" href="/public/css/stylesDetalleDeProducto.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <header>

    <section class="barraSuperior">
        <div class="logo">
            <a href=""><img src="#" alt="LOGO"></a>
            
        </div>
        <div>
            JUEGOS
        </div>
        <div>
            SERVICIOS
        </div>
        <div>
            GEAR
        </div>
        <form class="barra">
            <input type="search" name="barraDeBusqueda" placeholder="Search"></input type="submit" value="buscar">
            <button class="form-control fa fa-search" aria-hidden="true"></button>
        </form>
        <div>
            Log In
        </div>
        <div>
            Register
        </div>
    </section>

  </header>
  <body>
    <main class="cuerpoPrincipal">
        <section class="slideShowBox">
            <img src="../public/img/y9DpT.jpg" alt="imagenproducto">
            <div class="LogoPrecio">
                <a class="linkPrecio" href="../views/carrito.html"><button class="botonPrecio">Precio</buton></a>
            </div>    
        </section>
        <section class="fila">        
            <div class="columna">
                <section class="descripcionDelProducto">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officiis illo necessitatibus ad iste fugit doloremque, ex, quae porro facilis saepe ipsum? Consectetur, vitae eos. Labore quisquam amet illo vero?
                </section>
            </div>
            <div class="columna">
                <section class="botones">
                    <div class="wishlist">
                        <button class="botonWishlist">
                            <a class="links" href="../views/index.html"><i class="far fa-heart iconos"></i><p>Wishlist</p></a>
                        </button>
                    </div>
                    <div class="alCarrito">
                        <button class="botonAlCarrito">
                            <a class="links" href="../views/carrito.html"><i class="fas fa-shopping-cart iconos"></i><p>Al Carrito</p></a>
                        </button>
                    </div>
                    <div class="comprar">
                        <button class="botonComprar">   
                            <a class="links" href="../views/carrito.html"><p>Comprar</p></a>
                        </button>
                    </div>
                </section>
                <section class="productosRelacionados">
                    <div class="productosRelacionados Titulo">
                        <h2>Productos Relacionados</h2>
                    </div>
                    <div class="productosRelacionados Imagenes">
                        <div class="productosRelacionados Imagenes A">
                            <a href="../views/index.html"><img src="" alt="ImagenProductoA"></a>
                        </div>
                        <div class="productosRelacionados Imagenes B">
                            <a href="../views/index.html"><img src="" alt="ImagenProductoB"></a>
                        </div>
                        <div class="productosRelacionados Imagenes C">
                            <a href="../views/index.html"><img src="" alt="ImagenProductoC"></a>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>
    <br>
    <br>
    <br>
    <footer>
        <hr>
        <br>
        <br>
        <h1>FOOTER</h1>
        <br>
        <br>
        <hr>
    </footer>
    </body>

</html>
