<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>

        <img src="/img/logo.png" alt="Logo Spartan Games"></img>

        <section>
            <p>EMPLEOS | INFORMACIÓN | ASISTENCIA |CONTACTO | PRENSA | API</p>
            <p>©2021 SPARTAN GAMES, INC. TODOS LOS DERECHOS RESERVADOS.
                Todas las marcas comerciales a las que se hace referencia son propiedad de sus respectivos dueños.</p>
                <P>PRIVACIDAD | LEGAL | TÉRMINOS | COOKIE POLICY</P>
        </section>
        
    </footer>
</body>
</html>