<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../public/css/estilos_ingreso.css">
    <link rel="stylesheet" href="/public/css/stylesAlan.css">
    <link rel="stylesheet" href="../public/css/stylesLucas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Formulario ingreso</title>
</head>
<body>

    <header>

        <nav class="navbar">
            <div class="toogleBar">
                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav(), ShowAndHide()">×</a>
                    <a href="#">Home</a>
                    <a href="#">Juegos</a>
                    <a href="#">Servicios</a>
                    <a href="#">Gear</a>
                    <a href="#">Log In</a>
                </div>
                
                <div id="main">
                    <button id="botonToggle" class="fa fa-bars fa-2x" onclick="openNav(), ShowAndHide()"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" onClick = "this.style.visibility= 'hidden';">
                        <span class="navbar-toggler-icon"></span>
                    </button> 
                </div>
            </div>            
            <section class="parteIzq">
                <div class="logo">
                    <button class="btn btn-outline-secondary botonNavBar" type="button">LOGO</button>
                </div>
                <div class="botones">
                    <button class="btn btn-outline-secondary dropdown-toggle botonNavBar" type="button" data-bs-toggle="dropdown" aria-expanded="false">Juegos</button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Juego 1</a></li>
                    <li><a class="dropdown-item" href="#">Juego 2</a></li>
                    <li><a class="dropdown-item" href="#">Juego 3</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Tienda completa</a></li>
                    </ul>
                </div>
                <div class="botones">
                    <button class="btn btn-outline-secondary botonNavBar" type="button">Servicios</button>
                </div>
                <div class="botones">
                    <button class="btn btn-outline-secondary botonNavBar" type="button">Gear</button>
                </div>
            </section>
            <section class="parteDer">   
                <form class="busqueda">
                    <label class=".wrapper">
                        <button class="fa fa-search fa-2x" aria-hidden="true"></button>
                        <input class="barra" type="search" name="barraDeBusqueda" placeholder="Buscar en la tienda"></input type="submit" value="buscar">
                    </label>
                </form>
                <div class="logeo">
                    <button class="btn btn-outline-secondary" type="button">Log In</button>
                </div>
            </section>
            <div class="logoOculto">
                <button class="btn btn-outline-secondary botonNavBar" type="button">LOGO</button>
            </div>      
        </nav>

    </header>

    <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
    </script>

    <script>
        function ShowAndHide() {
            var x = document.getElementById("botonToggle");
            if (x.style.display == 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
    </script>
    
    <section class="form-ingreso">

        <h4>Ingreso</h4>

        <form action="/ingreso" method="POST">        
         <label for="correo"></label>
         <input class="datos_a_ingresar" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
         <label for="contraseña"></label>
         <input class="datos_a_ingresar" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña" required>
         <label for="cod-acceso"></label>
         <input class="datos_a_ingresar" type="password" name="cod-acceso" id="cod-acceso" placeholder="Código de acceso" required>
         <label for="boton"></label>
         <div class="d-grid gap-2">
            <input class="btn btn-primary" type="submit" value="Ingresar">              
        </div>

    </form>

        <p>Estoy de acuerdo con <a href="#">Términos y condiciones</a></p>
        <p><a href="registro.html">No tengo una cuenta</a></p>
        <p>Podés iniciar sesión con:</p>
        <div class="IconosRedes">
        <i class="fab fa-google Redes Google"></i>
        <i class="fab fa-facebook-square Redes Facebook"></i>
        <i class="fab fa-apple Redes Apple"></i>
        <i class="fab fa-steam Redes Steam"></i>
        </div>

    </section>

    <br>

    <footer class="footer">     
        <section class="footer2">
          <div>
             <a href="return_home"><img src="../public/img/logo.png" alt="Logo Spartan Games" class="logoSpartanGames"></img></a>
          </div>
          <div class="linksFooter1">
             <a href="empleos">   EMPLEOS   </a>
             <a href="información">   INFORMACIÓN   </a>
             <a href="asistencia">   ASISTENCIA   </a>
             <a href="contacto">   CONTACTO   </a>
             <a href="prensa">   PRENSA   </a>
             <a href="api">   API</a>
          </div>
             <p class="derechosReservados">©2021 SPARTAN GAMES, INC. TODOS LOS DERECHOS RESERVADOS.</p>
             <p class="derechosReservados">Todas las marcas comerciales a las que se hace referencia son propiedad de sus respectivos dueños.</p>
          <div class="linksFooter2">
             <a href="privacidad">   PRIVACIDAD   </a>
             <a href="legal">   LEGAL   </a>
             <a href="términos">   TÉRMINOS   </a>
             <a href="cookie_policy">   COOKIE POLICY</a>
           </div>    
        </section>
      </footer>   
    <br>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

</html>