<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Formulario Registro</title>
</head>
<body>
    
    <section class="form-ingreso">

        <h4>Ingreso</h4>
        
        <input class="controles" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controles" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña">
        <input class="controles" type="password" name="cod-acceso" id="cod-acceso" placeholder="Código de acceso">
    
        <input class="boton" type="submit" value="Registrar">
        <p>Estoy de acuerdo con <a href="#">Términos y condiciones</a></p>
        <p><a href="./registro.html">No tengo una cuenta</a></p>
        <p>Podés iniciar sesión con:</p>
        <div class="IconosRedes">
        <i class="fab fa-google Redes"></i>
        <i class="fab fa-facebook-square Redes"></i>
        <i class="fab fa-apple Redes"></i>
        <i class="fab fa-steam Redes"></i>
        </div>

    </section>

</body>

</html>