* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-registro {
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    position: relative;
        z-index: 2;
}

.form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.datos_a_ingresar {
    width: 100%;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-registro a {
    color: #1f53c5;
    text-decoration: underline;
}

.form-registro a:hover {
    color:white;
    text-decoration: underline;
}
#titulo-img-perfil {
    margin-top: 2rem;
    margin-bottom: 0;
}
#imagenPerfil {
    margin-bottom: 2rem;
}
.form-registro .boton {
    width: 100%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.Redes { 
    font-size: 2em;
    text-align: center;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.IconosRedes {
    display: flex;
    justify-content: center;
}

.Facebook {
    color: rgb(39, 118, 192);
}




.form-creaProd{
    width: 600px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
    position: relative;
        z-index: 2;
}

.datos_a_ingresar{
    text-align: center;
}

.tipoProd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.gap-2{
    margin-bottom: 10px;
}

.textErrorForm{
    color: red;
}

@media only screen and (max-width: 700px){
    section.form-creaProd{
        width: 80vw;
    }
}

@media only screen and (max-width: 540px){
    div.tipoProd{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    label.tipoLabel{
        position: relative;
        left: 20px;
        top: -18px;
    }
}