#bg-box-listado {
    padding-top: 0;
    margin-top: 105px;
}

#h4-prod-destacados-listado {
    padding-top: 30px;
    font-family: 'Manrope', sans-serif;
}

#box-productos-listado {
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid rgba(153, 50, 204, 0.288);
    border-radius: 4.8px;
    background: linear-gradient(0deg,rgba(29, 236, 197, 0.1),rgba(91, 14, 214, 0.125) 100%);
    transition: 0.3s;
    margin-top: 30px;
}

#box-productos-listado:hover {
    box-shadow: 10px 5px 5px rgb(54, 7, 134);
    border: 1px solid darkorchid;
    background: linear-gradient(0deg,rgba(29, 236, 197, 0.25),rgba(91, 14, 214, 0.125) 100%);

}

/* MEDIA QUERY */

@media only screen and (max-width: 640px) {
    #listadoProductos {
        display: flex!important;
        flex-direction: column!important;
        margin: 0!important;
        justify-self: center!important;
    }
}
