
.cuerpoPrincipal {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.slideShowBox {
    display: flex;
    background-color: #26292D;
    align-items: flex-end;
    justify-items: center;
    padding-top: 5em;
}

.descripcionDelProducto
{
    display: flex;
    color: gray;
    justify-content: left;
}

.barraSuperior {
    display: flex;
    flex-wrap: wrap;
    color: grey;
    background-color: black;
    justify-content: space-around;
}

* {
    background-color: #26292D;
}

.botonPrecio {
    margin-left: 75%;
    margin-bottom: 3%;
    background-color: forestgreen;
    color: whitesmoke;
    border: none;
    box-shadow: #26292D;
    height: 75px;
    width: 200px;

}

.linkPrecio {
    display: flex;
    text-decoration: none;
    color: #ACC1D7;
    font-size: 38px;
    text-align: center;
    background: none;
    justify-content: center;
}

.fila {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding: 3%;   

}

.columna {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0 0 30em;
    margin-left: 10%;
}

.botones {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content:space-between;
    
}



.links {
    display: flex;
    text-decoration: none;
    color: #ACC1D7;
    justify-content: center;
    background: transparent;
    
    align-content: center;
       
}

.iconos-heart {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    border: none;
    background-color: transparent;
    padding-right: 1rem;
    color: darkred;    
}
.iconos-cart {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    border: none;
    background-color: transparent;
    padding-right: 1rem;
    color: darkslateblue;    
}

.texto {
    display: flex;
    flex-flow: row;
    background: none;
    justify-content: center;
    align-content: center;
}


.productosRelacionados {
    margin-top: 5%;
}

.t-h2 {
    display: flex;
    color:#d6cfa4b2;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 5%;
}

.Imagenes {
    display: flex;
    flex-direction: row;
    align-content: center;

}

.t-comprar {
    color:rgba(226, 220, 174, 0.884);
    
}

.productosRelacionados-hr {
    margin-top: -1em;
    border: 1px solid #7E55F3;
}

.descripcionDelProducto-textbox {
    display: flex;
    font-size: 2em;
    align-content: flex-start;
    justify-content: center;
    margin-top: -2%;
    border: 2px solid gray;
    padding: 1%;
    
}

.ico-botones {
    display:flex;
    background-color: transparent;
    float: left;
    align-self: center;
    
}

.ico-palabra {
    display:flex;
    background-color: transparent;
    margin-left: 10px;
    align-self: center;
}

.my-4 {
    color: #6f42c1;
    margin: 0;
    /*background-color: #292b2c;*/
}

.container {
    padding: 5rem;
    background-color: #26292D;
}
#carousel {
    padding: 5% 20% 0% 20%;   
}

body {
    background-color: #26292D!important;
}