/* BODY */
body {
    background-color: #090013!important;
}
/* HEADER */

.navBar{
    display: flex;
    width: 100%;
}

.parteIzq{
    display: flex;
    align-items: stretch;

}

.parteDer{
    display: flex;
    align-items: stretch;
}

.logo{
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 0 15px;
    margin-left: 3%;
}

.botones{
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 0 15px;
}

.botonNavBar{
    width: 100px;
}

.busqueda{
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 0 15px;
}

.logeo{
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 0 15px;
}

.wrapper {
    border:1px solid #000;
    display:inline-block;
}

input,
button {
    background-color:transparent;
    border:0;
    
}

.barra{
    width: 250px;
    height: 40px;
}

.logoOculto{
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 0 15px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }


@media only screen and (min-width: 977px) {
    div.menuOculto{
        display: none;
    }
    div.toogleBar{
        display: none;
    }
  }

@media only screen and (max-width: 2000px) {
    div.logoOculto{
        display: none;
    }
  }
@media only screen and (max-width: 977px){
    form.busqueda{
        display: none;
    }
    div.botones{
        display: none;
    }
}
@media only screen and (max-width: 596px){
    div.logeo{
        display: none;
    }
    div.logo{
        display: none;
    }
}



/* CAROUSEL */        
 #carousel {
       padding: 2% 15% 1% 15%;
}
.carousel-item {
    border: 5px solid black;
}

/* CUADRO PRECIO */
.cuadroPrecio {
    display: flex;
    margin: 0 0 0 70%;
    display: inline-block;
    top: 70%;
    border: 2px solid darkorchid ;
    padding: 0 2rem 0 2rem;
    background-color: rgba(78, 79, 165, 0.219);
    box-shadow: 10px 5px 5px rgb(54, 7, 134); 
}
.display-2 {
    color: gold;
    background-color: rgba(78, 79, 165, 0.021);
    margin: 0;   
}
/* CONTAINER (DESCRIPCION DE PRECIO Y BOTONES + RECOMENDADOS) */
/* CONTAINER */
.container {
    padding: 0rem auto 5rem auto;
    margin: 0 auto 0 auto;
}
#hrPrecio {
    border: 1px solid darkorchid;
}
/* CONTAINER - DESCRIPCION DE PRODUCTO */
#cuadroProd {
    background-color: rgb(22, 22, 22)!important;
    border: 1px solid darkorchid;
}
#nomProd {
    color: rgb(255, 181, 111)!important;
}
.lead {
    font-style: italic;
    font-size: 1.5rem!important;
}
/* CONTAINER - COLUMNAS */
/* CONTAINER - BOTONES */
.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-lg {
    font-size: 2rem!important;
}
.btn-outline-success {
    color: gold!important;
    border-color: darkorchid!important;
}
.btn-outline-success:hover {
    background-color: rgba(78, 79, 165, 0.219)!important;
}
.btn-success {
    color: goldenrod!important;
    background-color: rgba(78, 79, 165, 0.219)!important;
    border-color: goldenrod!important;   
}
/* ICONOS */
.iconos-heart {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    border: none;
    background-color: transparent;
    padding-right: 1rem;
    color: darkred;    
}
.iconos-cart {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    border: none;
    background-color: transparent;
    padding-right: 1rem;
    color: darkcyan;    
}
.iconos-coins {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    border: none;
    background-color: transparent;
    padding-right: 1rem;
    color: rgb(206, 185, 2);
}
/* RELACIONADOS */
.productosRelacionados {
    margin-top: 5%;
}
.t-h2 {
    display: flex;
    color:rgb(255, 181, 111);
    justify-content: center;
    font-size: 2em;
    margin-bottom: 5%;
}
.Imagenes {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.productosRelacionados-hr {
    margin-top: -1em;
    border: 1px solid darkorchid;
}
.img-prod-rel {
    border: 2px solid #6e42c118;
}


/* FOOOTER */

.footer {
    text-align: center;
    background-color: #202040;
}

.derechosReservados {
    color: darkgoldenrod;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1200px) {
    .botones {
        padding-top: 2rem;
    }
    .img-prod-rel {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 992px) and (min-width: 769) {
    .img-prod-rel {
        width: 100%;
        height: auto;
    }
    .container {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .col {
        width: 75%;
        height: auto;
    }
  
    
}

@media (max-width: 768px) {
    .cuadroPrecio {
        display: flex;
        justify-content:center;
        width: 25%;
        
    }
}