<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../public/css/estilos_ingreso.css">
    <link rel="stylesheet" href="/public/css/stylesAlan.css">
    <link rel="stylesheet" href="../public/css/stylesLucas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Formulario ingreso</title>
</head>
<body id="bodyEntero">


    <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
    </script>

    <script>
        function ShowAndHide() {
            var x = document.getElementById("botonToggle");
            if (x.style.display == 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
    </script>

    <%- include("../partials/header") %>
    
    <section class="form-ingreso">

        <h4>Ingreso</h4>

        <form action="/ingreso" method="POST">        
         <label for="correo"></label>
         <input class="datos_a_ingresar" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
         <label for="contraseña"></label>
         <input class="datos_a_ingresar" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña" required>
         <label for="cod-acceso"></label>
         <input class="datos_a_ingresar" type="password" name="cod-acceso" id="cod-acceso" placeholder="Código de acceso" required>
         <label for="boton"></label>
         <div class="d-grid gap-2">
            <input class="btn btn-primary" type="submit" value="Ingresar">              
        </div>

    </form>

        <p>Estoy de acuerdo con <a href="#">Términos y condiciones</a></p>
        <p><a href="registro.html">No tengo una cuenta</a></p>
        <p>Podés iniciar sesión con:</p>
        <div class="IconosRedes">
        <i class="fab fa-google Redes Google"></i>
        <i class="fab fa-facebook-square Redes Facebook"></i>
        <i class="fab fa-apple Redes Apple"></i>
        <i class="fab fa-steam Redes Steam"></i>
        </div>

    </section>

    <br>

    <%- include("../partials/footer") %>
    
    <br>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

</html>