<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/estilos_registro.css"> -->
    <!-- <link rel="stylesheet" href="/css/stylesAlan.css"> -->
    <!-- <link rel="stylesheet" href="/css/stylesLucas.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Formulario ingreso</title>
</head>
<body id="bodyEntero">



    <%- include("../partials/header") %>
    
    <section class="bg-box" style="margin-top: 100px;">

        <h4 class="fs-1" id="h4-prod-destacados-listado">Ingreso</h4>
        <hr class="registro-hr">
        <br>
        <form class="formularioLogin" action="/users/ingreso" method="POST">  
            <div class="formControl">
                <label for="correo"></label>
                <input class="datos_a_ingresar" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
                <p class="textErrorForm"></p>
            </div>
            <div class="formControl">
                <label for="contrase単a"></label>
                <input class="datos_a_ingresar" type="password" name="contrase単a" id="contrase単a" placeholder="Ingrese su Contrase単a">
                <p class="textErrorForm"></p>
            </div>
            <div>
                <label id="lead" for="recordarUsuario">
                    <input class="form-check-input" type="checkbox" name="recordarUsuario"> Recordarme
                </label>
            </div>

            <br>
            
            

            <label for="boton"></label>
            <div class="d-grid gap-2">
                <input id="btn-registrarme" class="btn btn-primary fs-2" type="submit" value="Ingresar">              
            </div>

        </form>
        <div class="p-text">
        <br>
        <p class="lead"><a href="/users/registro">No tengo una cuenta</a></p>
        <br>
        <br>

    </section>

    <br>

    <%- include("../partials/footer") %>
    
    <br>
    <br>
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/js/menuHamburguesa.js" async></script>
    <script src="/js/validacionLoginUsuario.js" async></script>
    <script src="/js/guardarUsuario.js" async></script>

    <% if (locals.errors && errors.datosMal) { %>
        <script src="/js/loginBackFail.js" async></script>
    <% }  %>
        

</body>

</html>