<!DOCTYPE html>
<html>

    <head>
        <!-- <link rel="stylesheet" href="/css/stylesLucas.css"></link>  -->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <title>Carrito</title>
    </head>

    <body id="bodyEntero">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script>
            function openNav() {
              document.getElementById("mySidebar").style.width = "250px";
              document.getElementById("main").style.marginLeft = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidebar").style.width = "0";
              document.getElementById("main").style.marginLeft= "0";
            }
        </script>

        <script>
            function ShowAndHide() {
                var x = document.getElementById("botonToggle");
                if (x.style.display == 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }
            }
        </script>

        <script src="/js/carrito.js" async></script>
        

        <%- include("../partials/header") %>
        
        <main class="cuerpo">
            <div class="container mt-5 mb-5">
                <div class="resumen d-flex justify-content-center row">
                    <div class="col-md-8">
                        <div class="p-2">
                            <h4 class="tit">Carrito de compras</h4>
                            <div class="d-flex flex-row align-items-center pull-left"><span class="mr-1 tit">Ordenar por:</span> <form action="carrito.html" method="POST">
                                <select>
                                  <option value="1">Destacados</option>
                                  <option value="2">Mayor precio</option>
                                  <option value="3">Menor precio</option>
                                </select>
                            </form>
                               
                            </div>
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="carritoCompleto">
                        <div class="itemsCarrito">

                        </div>

                        <div class="d-flex flex-row align-items-center mt-3 p-2 rounded"><input type="text" class="form-control border-0 gift-card" placeholder="Codigo de descuento / Gift card"><button class="btn btn-outline-warning btn-sm ml-2 btn-giftCard" type="button">Aplicar</button></div>
                        <div class="contPago">
                            
                        </div>
                        <div class="d-flex flex-row align-items-center mt-3 p-2 rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" id="botonVaciarCarrito" type="button">Vaciar carrito</button></div>
                        <div class="d-flex flex-row align-items-center mt-3 p-2 rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button">Continuar con el pago</button></div>
                </div>
            </div>

        </main>

        <%- include("../partials/footer") %>

    </body>

</html>    